{% extends 'base.html' %}
{% block content %}
    <h1 id="about-this-study">About This Study</h1>
    <p>Email has been a cornerstone of online communication for decades,
        but its lack of built-in confidentiality has left it vulnerable to various attacks. To address this issue, two
        key protocols are being
        used: MTA-STS (Mail Transfer Agent Strict Transport Security) and
        DANE (DNS-based Authentication of Named Entities). While DANE
        was introduced first, MTA-STS has been actively adopted by major
        email providers like Google and Microsoft, as it does not require
        the complex DNSSEC chain that poses a significant challenge in
        deploying and managing DANE. However, despite its significance,
        there has been limited research on how MTA-STS is deployed and
        managed in practice. In this study, we present a thorough, longitudinal investigation of the MTA-STS ecosystem.
        We base our
        analysis on a dataset capturing over 87 million domains from DNS
        scans collected across four TLDs over 31 months, along with 10
        months of additional component scanning such as TLS certificates,
        thereby offering a broad perspective on MTA-STS adoption and its
        management.</p>
    <p>Our analysis uncovers a concerning trend of misconfigurations
        and inconsistencies in MTA-STS setups. In our most recent snapshot, out of 68K domains with MTA-STS record,
        29.6% of domains
        were incorrectly configured, while 3.2% of these should encounter
        email delivery failure from MTA-STS supporting senders. To gain
        insights into the challenges faced by email administrators, we surveyed 117 operators. While awareness of
        MTA-STS was high (94.7%),
        many cited operational complexity (48.8%) and a preference for
        DANE (45.4%) as reasons for not deploying the protocol.
        Our study not only highlights the growing importance of MTASTS but also reveals the significant challenges in
        its deployment
        and management.</p>
{% endblock %}